name: CI - Check on Noir test programs
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-ci-image:
    uses: ./.github/workflows/build-ci-image.yaml
    with:
      allow_push: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}
  
  run-tests:
    name: Test Noir
    needs: build-ci-image
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/reilabs/lampe-ci:${{ needs.build-ci-image.outputs.image_tag }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Noir Repo
        uses: actions/checkout@v6
        with:
          repository: noir-lang/noir
          ref: 9a5b3695b42e391fa27c48e87b9bbb07523d664d
          path: noir
      - name: Ensure Test Programs Up To Date
        working-directory: noir/test_programs
        run: ./rebuild.sh
      - name: Checkout Lampe Repo
        uses: actions/checkout@v6
        with:
          path: lampe
      - name: Build (Cargo)
        working-directory: lampe
        run: cargo build --release
      - name: Install CLI
        working-directory: lampe
        run: cargo install --path .
      - name: Run Lampe on Each Test Program
        working-directory: lampe/testing_noir
        run: ./test.xsh --noir-path ${{ github.workspace }}/noir --log-stdout
